:root{
    --main-color:#154c79;
    --Secondry-color: #74d2f5;
    --main-text-color: #fff;
    --secondry-text-color: #090235;
    --main-font-style: Arial, Helvetica, sans-serif;
    --secondry-font-style: 'Brush Script MT', cursive;
    --box-shadow: rgba(15, 15, 15, 0.2) 0px 8px 24px;
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
.booking-banner{
    max-width: 100%;
    height: 300vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./BookPhoto.webp);
    background-size: cover;
    background-position: center;
  }
.logo{
    display: block;
    padding: 10px;
    max-width: 100%;
    background-color: var(--main-color);
    background-size: cover;
}
a:link,
a:visited {
  color: var(--main-text-color);
  
}
nav ul,
aside ul {
  list-style: none;
  padding: 0;
}

nav a:link,
nav a:visited {
  background-color: var(--main-color);
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px;
  color: var(--main-text-color);
  font-family: var(--main-font-style);
  text-transform: uppercase;
}

nav a:hover {
  color: var(--Secondry-color);
}
  
.grid-container {
    height: auto; 
  }
.booking-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondry-font-style);
  color: #fff;
  font-size: 40px;
}
.booking-form {
  max-width: 80%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  background-image: linear-gradient(#154c79,#74d2f5);
  border-radius: 1rem;
  box-shadow: #cdcbcb 0px 8px 24px;
}
.booking-form form {
  display: flex;
  flex-wrap: wrap;
}
.booking-form label{
  color: #fff;
}

.booking-form label,
.booking-form input,
.booking-form select,
.booking-form button {
  width: 100%;
  margin-bottom: 20px;
  font-family: var(--main-font-style);
}
.booking-form input,
.booking-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.booking-form p{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booking-form button {
  background-color: #154c79;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.booking-form button:hover{
  background-color: #2596be;
  color: var(--secondry-text-color);
}
.DisplayInfo{
  display: none;
  height: auto;
}
.DisplayInfo h2{
    text-align: center;
    padding-top: 2rem;
    font-family: var(--main-font-style);
    color: var(--main-text-color);
}
.table-container {
  max-width: 100%;
  background-image: linear-gradient(#154c79,#74d2f5);
  border: 1px solid black;
  margin: 2rem;
  height: 85vh;
  border-radius: 1rem;
  box-shadow: #cdcbcb 0px 8px 24px;
  margin-top: 10rem;
}
.booking-table {
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.booking-table th, .booking-table td {
  border: 1px solid var(--secondry-text-color);
  background-color: #e3dfdf;
  padding: 10px;
  text-align: left;
}
.overallBooking{
  height: 100vh;
  background-color: var(--main-color);
}
.overallBooking table{
  width: 80%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 10%;
}
.overallBooking th, .overallBooking td{
  border: 1px solid var(--secondry-text-color);
  background-color: #e3dfdf;
  padding: 10px;
  text-align: left;
}
.overallBooking h2{
  color: var(--main-text-color);
  text-align: center;
  padding-top: 30px;
}
.overallBooking button{
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--main-text-color);
  background-color: var(--secondry-text-color);
  margin-top: 1rem;
  margin-left: 25%;
  font-size: 20px;
}
.overallBooking button:hover{
  background-color: var(--Secondry-color);
  color: var(--secondry-text-color);
}
.popup{
  width: 400px;
  border: black solid 2px;
  position: fixed;
  background-color: #74d2f5;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%)scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: var(--secondry-text-color);
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
}
.open_popup{
  visibility: visible;
  top: 35%;
  transform: translate(-50%,-50%)scale(1);
}
.popup h1{
  margin-top: 1rem;
  font-size: 38px;
  margin: 30px 0 10px;
  color: var(--main-color);
  font-family: var(--secondry-font-style);
}
.popup button{
  background-color: #154c79;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.popup table{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.popup th, .popup td {
  border: 1px solid var(--secondry-text-color);
  padding: 3px;
  text-align: left;
}
footer {
  padding: 4rem 1rem;
  background-image: linear-gradient(rgb(28, 28, 28),rgb(28, 28, 28),rgb(74, 73, 73));
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position:relative;
}
footer a {
  color: #F9F9FA;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: #cccccc;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}
.footer-heading {
  margin-bottom: 1rem;
}
.footer-link {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}
.footer-bottom {
  display: flex;
  
}
.copyright {
  margin-right: auto;
  
}
.footer-social {
  font-size: 25px;
  margin-left: 1rem;
}
@media screen and (min-width: 40em) {
    .logo{
        width: 250px;
    }
    nav{
        height: 90px;
        background-color: var(--main-color);
    }
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav a:link,
    nav a:visited{
        border: none;
    }
    nav li{
        text-align: center;
    }
    .booking-banner{
      height: auto;
    }
    .grid-container {
      display: grid;
      grid-template-rows: 1fr; 
      grid-template-columns: 2fr 1fr; 
      height: auto; 
    }
    .booking-form {
      max-width: 70%;
      height: 300vh;
    }
    .DisplayInfo{
      display: grid;
      grid-template-rows: 1fr 1fr; 
      grid-template-columns: 1fr;
    }
    .footer-main {
        flex-direction: row;
  
    }
}
